<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Weather Forcast</title>
</head>

<body>
    <h1>Weather Forcast</h1>
    <h2>Please key in your location</h2>

    <form id="myForm" method="post">
        <label for="zipInput">Zip Code:</label>
        <input type="text" id="zipInput" name="zip">
  
        <label for="countryInput">Country Code:</label>
        <input type="text" id="countryInput" name="country">
  
        <label for="submit">Submit:</label>
        <input id="get" type="submit" value="GET" formaction="/result">

      </form>

    <div>
        <% if (locals.geocode) { %>  
            <h2>Result</h2>
            <p>Location: <%= geocode.name %></p>
            <p>Latitude: <%= geocode.lat %></p>
            <p>Longitude: <%= geocode.lon %></p>
        <% } else { %> 
            <P>Waiting for data...</P>
        <% } %>

    </div>




</body>
</html>